@import "../main";
@import "../partials/post-list";

.tags__list {
  list-style: none;
  margin: 0;
  padding: 200px 10px 0 0;
  flex-shrink: 0;
  

  @media screen and (max-width: $medium - 1) {
    display: none;
  }
}

.post__header .tags__list {
  padding-top: 3px;
  display: none;
  padding-left: 0;
  display: block;
  



  .tag__item {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .tag__link {
    font-size: 0.9rem;
  }
}

.tag__link {
  text-decoration: none;
  color: $lightPurple;
  font-size: 1.1rem;

  &::before {
    content: "#";
	color: $darkPurple;
    font-size: 0.9rem;
    padding-right: 3px;
  }

  &:hover {
    color: rgba(84,15,144,0.44);
  }
}

/* page overrides */
.post-list__container {
  display: flex;
  justify-content: space-between;
}


body {
  background: url('/bg.jpg') no-repeat center center fixed;
                /*兼容浏览器版本*/
                -webkit-background-size: cover;
                -o-background-size: cover;                
                background-size: cover;
}




