$navWidth: 100px;
$meatWidth: 28px;
$meatHeight: 2px;
$burgerContainerHeight: 4rem;
$tocBreakpoint: 1024px;

// colors
$black: #111;
$lightGrey: #f7f7f7;
$greyTableBorder: #eeeeee;
$grey: #9b9b9b;
$darkGrey: #717171;
$white: #fff;
$frosted: rgba(255,255,255,.7);
$primary: #540f90;
$purePurple: #f2e3ff;
$darkPurple: rgba(84,15,144,1);
$lightPurple: rgba(84,15,144,.44);
$bgPurple: rgba(221,207,233,1);

// screenSizes
$medium: 800px;
$large: 1400px;

// import site overrides after variables after
// variables have been declared
@import "../overrides";
