@import "partials/vars";

body {
  cursor: url('/demon.png'),auto;
  
}

canvas {
  width:100%;
  height:300px;
  z-index: 100;
}


iframe.fuck {
  width: 100%;
  height: 56.25vw;
  border: none;
  overflow: hidden;
	
  @media screen and (min-width: 850px) {
    height: 550px;
  }
    
    
}
  
iframe.music {
  @media screen and (max-width: $medium - 1) {
    width:95%;
  }
}




p.music{
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06), 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: rgba(84,15,144,.07);
  background-image: url("/me.png");
  
}

img {
  border-radius: 10px;
}

.btn {
    border-radius: 31px;
    width: 51px;
    height: 31px;
    background-color: $greyTableBorder;
}
.darkmode {
    position: relative;
    appearance: none;
    cursor: pointer;
    transition: all 100ms;
    @extend .btn;
    &::before {
        position: absolute;
        content: "";
        transition: all 300ms cubic-bezier(.45, 1, .4, 1);
        @extend .btn;
    }
    &::after {
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 13px;
        width: 27.5px;
        height: 27.5px;
        background-color: $white;
		/*background-image:url("/dark.png");*/
        box-shadow: 1px 1px 5px rgba(#000, .3);
        content: "";
        transition: all 300ms cubic-bezier(.4, .4, .25, 1.35);
    }
    &:checked {
        background-color: $primary;
        &::before {
            transform: scale(0);
        }
        &::after {
            transform: translateX(20px);
        }
    }
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, $purePurple, 60%, $darkPurple);
    z-index: 1000;
}

/* 重置 ::marker 样式 */
::marker {
  unicode-bidi: normal;
  font-variant-numeric: normal;
  text-transform: none;
  text-indent: 0;
  text-align: initial;
  text-align-last: initial;
}

sup {
  color: $darkPurple;
  font-size: .8rem;

}

.splash {
  border-radius: 16px;
  background-color: rgba(255,255,255,0.7);
  padding: 50px 80px 50px 80px;

}

.post-list__container {
  border-radius: 16px;
  background-color: $white;
  padding: 50px 80px 50px 80px;
  box-shadow: 0 0 10px $lightPurple;
  position: fixed;
  z-index: 3;
  right: 123px;
  height:580px;
  @media screen and (max-width: $tocBreakpoint) {
    position: static;
	height: 430px;
  }
  
}

.toc-container{
  background-color: $frosted;
  padding: 15px 50px 23px 3px;
  border-top-right-radius: 16px;
  //border-bottom-right-radius: 16px;

}

.aplayer-title{
  color: $black;
}

#navigation.nav {
  @media screen and (max-width: $tocBreakpoint) {
    background-color: $white;
  }
}

.darkMode {
  position: fixed; 
  right: 23px; 
  bottom: 23px;
  background-color: rgba(255,255,255,0.01);
}


.p5Canvas {
   position: fixed;
   right: 73px;
   bottom: 73px;
   @media screen and (max-width: $tocBreakpoint) {
    display: none;
  }

}


.post-list {
   //height: calc(100vh - 230px); 
   overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none; 
}

.bgPurple{
   position: relative;
   width: 100%;
   height: 50px;
   background-color: $bgPurple;
   //margin-bottom : -50px;
   bottom : 10px;
   z-index : 0;
}

main {
 height: 100%;
}

input {
    -webkit-appearance: button;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

pre::-webkit-scrollbar {
  display: block; /* 确保显示滚动条 */
}

pre *{
  font-family: "Courier New", monospace;
}


