<!DOCTYPE html>
<html>
<head>
    <!-- require APlayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <!-- require MetingJS -->
    <script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
	<!-- require pjax -->
    <script src='https://cdn.bootcdn.net/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
    <script src='https://cdn.bootcdn.net/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js'></script>
	<script>
    	// 隐藏歌词
        function removelrc() {
        //检测是否存在歌词按钮
        if (!document.querySelector(".aplayer-icon-lrc"))
            return;
        else
        {
            //触发以后立刻移除监听
            document.removeEventListener("DOMNodeInserted",removelrc);
            //稍作延时保证触发函数时存在按钮
            setTimeout(function() {
                //以触发按钮的方式隐藏歌词，防止在点击显示歌词按钮时需要点击两次才能出现的问题
                document.querySelector(".aplayer-icon-lrc").click();
            }, 1);
            console.log("success");
            return;
        }
    }
    document.addEventListener('DOMNodeInserted', removelrc)
	</script>
	<!--<script>
      // 对所有链接跳转事件绑定pjax容器main
      //失败！加载出的界面布局全乱了
      $(document).pjax('a[target!=_blank]', 'main', {fragment: 'main', timeout:8000})
    
	</script> -->
</head>
<body>
  <div id="player" bottom="30px">
    <meting-js server="netease" type="playlist" id="8422168819"
	fixed="true"  autoplay="false" loop="all" order="random" preload="auto"
	list-folded="ture" list-max-height="400px" lrc-type="0">
    </meting-js>
  </div>
  </body>
</html>

