  
<!-- JSON-LD -->
<script type="application/ld+json">
  {{ if and (.IsPage) (eq .Section "blog") }}
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ .Description }}",
      "inLanguage" : "en-US",
	  
      "author" : {
	    "type": "Person",
		"name": "春江潮水连海平"
	  },
      "creator" : "{{ .Site.Params.name }}",
      "publisher": "{{ .Site.Params.name }}",
      "copyrightYear" : "{{ .Date.Format "2023" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}",
      

    }
  {{ else }}
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Permalink }}",
      "name": "{{ .Title }}",
	  "image": "/favicon.ico",
      "author": {
        "@type": "Person",
        "name": "AnmoWu's"
      },
      "description": "{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"
      "keywords" : [{{ if isset .Params "keywords" }}{{ range .Params.keywords }}"{{ . }}", {{ end }}{{ end }}"Blog"]
	}
  {{ end }}
  </script>
