<!-- JSON-LD -->
<script type="application/ld+json">
  {{ if and (.IsPage) (eq .Section "blog") }}
    {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }} | {{ .Site.Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ .Description }}",
      "inLanguage" : "{{ .Site.LanguageCode }}",
      "author" : {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
      },
      "copyrightYear" : "{{ .Date.Format "2024" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Lastmod }}",
      "url" : "{{ .Permalink }}",
      "wordCount" : "{{ .WordCount }}"
    }
  {{ else }}
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": "{{ .Site.BaseURL }}",
      "name": "{{ .Site.Title }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.author }}"
      },
      "description": "{{ .Site.Params.description }}",
      "image": "{{ .Site.BaseURL }}flag.png"
    }
  {{ end }}
</script>
