<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ $decorate := "🌻Chilling..."}}
  <title>{{ if .IsHome }}{{ $decorate }}{{ else }}{{ .Title }} | {{$decorate }}{{ end }}</title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.description }}{{ end }}">
  {{ if .Params.keywords }}
    <meta name="keywords" content="{{ delimit .Params.keywords ", " }}">
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{ partial "favicon.html" }}

  <!-- Styles -->
  {{ block "styles" . }}{{ end }}
  {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
  {{ $custom_styles_opts := (dict "src" "scss/custom.scss" "dest" "css/custom.css") }}
  {{ $current_page := . }}
  {{ range (slice $base_styles_opts $custom_styles_opts) }}
    {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
  {{ end }}

  {{ range .AlternativeOutputFormats }} 
    {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.FirstSuffix.Suffix .Permalink $.Site.Title | safeHTML }} 
  {{ end }} 
  {{ block "links" . }}{{ end }}
  {{ partial "seo-schema.html" .}}

  {{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  <meta name="google-site-verification" content="-OTnOSW4EWTYe4QUCBdOjNbGJ5i3FCkL9s9jINT7FV0" />
</head>


<body>

  <div id="darkMode" class="darkMode">
    <input class="darkmode" type="checkbox" id="darkToggle" onchange="toggleDarkMode()">
  </div>
  
  {{ partial "burger.html" .}} 

  {{ partial "nav.html" .}}
  
  
  
  <main>
  
    {{ block "main" . }} 
	
	{{ end }}
  </main>
 
  {{ block "footer" . }} {{ end }}
  
  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}
  <script src="/js/fucknight.js"></script>
  
 
  
  
  
  
</body>

</html>
